/problema1/Problema1/nbproject/private/
/problema1/Problema1/build/
/problema1/Tiempo/nbproject/private/
/problema1/Tiempo/build/
/problema2/Tiempo/dist/
/problema1/Problema1/dist/
/problema1/InstitucionEducativa/nbproject/private/
/problema1/InstitucionEducativa/build/
/problema1/InstitucionEducativa/dist/
/problema4/DispositivoElectronico/nbproject/private/
/problema4/DispositivoElectronico/build/
